.container-c {
    position: relative;
    margin: 30px 0px 20px 30px;
    /* box-shadow: 7px 10px 20px 5px rgba(0, 0, 0, 0.2); */
}

.container-c .card-c {
    position: relative;
    width: 20.83vw;
    height: 61.91vh;
    background: #101010;
    border-radius: 20px;
    overflow: hidden;
}

.container-c .card-c::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #9bdc28;
    /* clip-path: circle(150px at 80% 20%); */
    clip-path: polygon(0% 0%, 0% 100%, 40% 60%, 40% 0%);
    transition: 0.5s ease-in-out;
}

.container-c .card-c:hover:before {
    /* clip-path: circle(300px at 80% -20%); */
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
}

.container-c .card-c:after {
    content: "Nike";
    position: absolute;
    top: 25%;
    left: -20%;
    font-size: 18em;
    font-weight: 800;
    font-style: italic;
    color: rgba(255, 255, 255, 0.04);
}

.container-c .card-c .imgBx-c {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10000;
    width: 100%;
    height: 220px;
    transition: 0.5s;
    object-fit: contain;
}

.container-c .card-c:hover .imgBx-c {
    top: 0%;
    transform: translateY(20%);
}

.container-c .card-c .imgBx-c img {
    position: absolute;
    object-fit: contain;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
}

.container-c .card-c .logo-c img {
    position: absolute;
    object-fit: contain;
    top: 2%;
    left: 10%;
    width: 80px;
    z-index: 200000;
    transition: 1s;
}

.container-c .card-c:hover .logo-c img {
    transition: 1s;
    opacity: 0;
}

.container-c .card-c .contentBx-c {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: 1s;
    z-index: 10;
    top: 60%;
}

.container-c .card-c:hover .contentBx-c {
    height: 210px;
}

.container-c .card-c .contentBx-c .size-c,
.container-c .card-c .contentBx-c .color-c {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 20px;
    transition: 0.5s;
    opacity: 0;
    visibility: hidden;
}

.container-c .card-c:hover .contentBx-c .size-c {
    opacity: 1;
    visibility: visible;
    transition-delay: 0.5s;
}

.container-c .card-c:hover .contentBx-c .color-c {
    opacity: 1;
    visibility: visible;
    transition-delay: 0.6s;
}

.container-c .card-c .contentBx-c .size-c h3,
.container-c .card-c .contentBx-c .color-c h3 {
    color: #fff;
    font-weight: 300;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-right: 10px;
}

.container-c .card-c .contentBx-c .size-c span {
    width: 26px;
    height: 26px;
    text-align: center;
    line-height: 26px;
    font-size: 14px;
    display: inline-block;
    color: #111;
    background: #fff;
    margin: 0 5px;
    transition: 0.5s;
    color: #111;
    border-radius: 4px;
    cursor: pointer;
}

.container-c .card-c .contentBx-c a {
    display: inline-block;
    padding: 10px 20px;
    background: #fff;
    border-radius: 4px;
    margin-top: 10px;
    text-decoration: none;
    font-weight: 600;
    color: #111;
    opacity: 0;
}

.container-c .card-c:hover .contentBx-c a {
    opacity: 1;
    transform: translateY(0px);
    transition: 0.75s;
}

.container-c .card-c .contentBx-c a:hover {
    background: #9bdc28;
    transition: 0s;
    border: 2px solid #232323;
}

.container-c .card-c .contentBx-c h2 {
    top: 25%;
    position: relative;
    font-size: 2em;
    margin: 0;
    font-weight: 600;
    letter-spacing: 1px;
    color: #fff;
    transition: 0.5s;
    z-index: 10000;
}

.container-c .card-c:hover .contentBx-c h2 {
    top: -10%;
    transition: 0.75s;
}

/*             Nike styles                  */
.container-c .Nike-c:after {
    content: "Nike";
}

/*             Adidas styles                  */
.container-c .Adidas-c:after {
    content: "Adidas";
}

/*             Crocs styles                  */
.container-c .Crocs-c:after {
    content: "Crocs";
}

/*      red      */

.container-c .red-c::before {
    background: #d72323;
}

.container-c .card-c .contentBx-c .size-c .red1-c:hover {
    background: #d72323;
    border: 2px solid #232323;
    transition: 0s;
}

.container-c .card-c .contentBx-c .red1-c.active-c {
    background: #d72323;
    border: 2px solid #232323;
}

.container-c .card-c .contentBx-c .red2-c:hover {
    background: #d72323;
}

/*      blue      */

.container-c .blue-c::before {
    background: #004d98;
}

.container-c .card-c .contentBx-c .size-c .blue1-c:hover {
    background: #004d98;
    border: 2px solid #232323;
    transition: 0s;
}

.container-c .card-c .contentBx-c .blue1-c.active-c {
    background: #004d98;
    border: 2px solid #232323;
}

.container-c .card-c .contentBx-c .blue2-c:hover {
    background: #004d98;
}

/*      yellow      */

.container-c .yellow-c::before {
    background: #9bdc28;
}

.container-c .card-c .contentBx-c .size-c .yellow1-c:hover {
    background: #9bdc28;
    border: 2px solid #232323;
    transition: 0s;
}

.container-c .card-c .contentBx-c .yellow1-c.active-c {
    background: #9bdc28;
    border: 2px solid #232323;
}

.container-c .card-c .contentBx-c .yellow2-c:hover {
    background: #9bdc28;
}

/*      pink      */

.container-c .pink-c::before {
    background: #d83f87;
}

.container-c .card-c .contentBx-c .size-c .pink1-c:hover {
    background: #d83f87;
    border: 2px solid #232323;
    transition: 0s;
}

.container-c .card-c .contentBx-c .pink1-c.active {
    background: #d83f87;
    border: 2px solid #232323;
}

.container-c .card-c .contentBx-c .pink2-c:hover {
    background: #d83f87;
}

/*     green     */

.container-c .green-c::before {
    background: #17b978;
}

.container-c .card-c .contentBx-c .size-c .green1-c:hover {
    background: #17b978;
    border: 2px solid #232323;
    transition: 0s;
}

.container-c .card-c .contentBx-c .green1-c.active-c {
    background: #17b978;
    border: 2px solid #232323;
}

.container-c .card-c .contentBx-c .green2-c:hover {
    background: #17b978;
}

/* .container .card .contentBx .color span {
    width: 20px;
    height: 20px;
    background: #ff0;
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
}

.container .card .contentBx .color span:nth-child(2) {
    background: #9bdc28;
}
.container .card .contentBx .color span:nth-child(3) {
    background: #03a9f4;
}
.container .card .contentBx .color span:nth-child(4) {
    background: #e91e63;
} */
