.container {
    /* position: relative; */
    margin: 30px 0px 20px 30px;
    /* box-shadow: 7px 10px 20px 5px rgba(0, 0, 0, 0.2); */
}

.container .card {
    position: relative;
    width: 320px;
    height: 450px;
    background: #101010;
    border-radius: 20px;
    overflow: hidden;
}

.container .card::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #9bdc28;
    clip-path: circle(150px at 80% 20%);
    /* clip-path: polygon(0% 0%, 0% 100%, 50% 50%, 50% 0%); */
    transition: 0.5s ease-in-out;
}

.container .card:hover:before {
    clip-path: circle(300px at 80% -20%);
    /* clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%); */
}

.container .card:after {
    content: "Nike";
    position: absolute;
    top: 30%;
    left: -20%;
    font-size: 12em;
    font-weight: 800;
    font-style: italic;
    color: rgba(255, 255, 255, 0.04);
}

.container .card .imgBx {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10000;
    width: 100%;
    height: 220px;
    transition: 0.5s;
    object-fit: contain;
}

.container .card:hover .imgBx {
    top: 0%;

    transform: translateY(0%);
}

.container .card .imgBx img {
    position: absolute;
    object-fit: contain;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-25deg);
    width: 270px;
}

.container .card .contentBx {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: 1s;
    z-index: 10;
}

.container .card:hover .contentBx {
    height: 210px;
}

.container .card .contentBx .size,
.container .card .contentBx .color {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 20px;
    transition: 0.5s;
    opacity: 0;
    visibility: hidden;
}

.container .card:hover .contentBx .size {
    opacity: 1;
    visibility: visible;
    transition-delay: 0.5s;
}

.container .card:hover .contentBx .color {
    opacity: 1;
    visibility: visible;
    transition-delay: 0.6s;
}

.container .card .contentBx .size h3,
.container .card .contentBx .color h3 {
    color: #fff;
    font-weight: 300;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-right: 10px;
}

.container .card .contentBx .size span {
    width: 26px;
    height: 26px;
    text-align: center;
    line-height: 26px;
    font-size: 14px;
    display: inline-block;
    color: #111;
    background: #fff;
    margin: 0 5px;
    transition: 0.5s;
    color: #111;
    border-radius: 4px;
    cursor: pointer;
}

.container .card .contentBx button {
    display: inline-block;
    padding: 10px 20px;
    background: #fff;
    border-radius: 4px;
    margin-top: 10px;
    text-decoration: none;
    font-weight: 600;
    color: #111;
    opacity: 0;
}

.container .card:hover .contentBx button {
    opacity: 1;
    transform: translateY(0px);
    transition: 0.75s;
}

.container .card .contentBx button:hover {
    background: #9bdc28;
    transition: 0s;
}

.container .card .contentBx h2 {
    top: 80%;
    position: relative;
    font-weight: 600;
    letter-spacing: 1px;
    color: #fff;

    transition: 0.5s;
    z-index: 10000;
}

.container .card:hover .contentBx h2 {
    top: 0%;
    transition: 0.75s;
}

/*             Nike styles                  */
.container .Nike:after {
    content: "Nike";
}

/*             Adidas styles                  */
.container .Adidas:after {
    content: "Adidas";
}

/*             Crocs styles                  */
.container .Crocs:after {
    content: "Crocs";
}

/*      red      */

.container .red::before {
    background: #d72323;
}

.container .card .contentBx .size .red1:hover {
    background: #d72323;
}

.container .card .contentBx .red1.active {
    background: #d72323;
}

.container .card .contentBx .red2:hover {
    background: #d72323;
}

/*      blue      */

.container .blue::before {
    background: #08b2e3;
}

.container .card .contentBx .size .blue1:hover {
    background: #08b2e3;
}

.container .card .contentBx .blue1.active {
    background: #08b2e3;
}

.container .card .contentBx .blue2:hover {
    background: #08b2e3;
}

/*      yellow      */

.container .yellow::before {
    background: #9bdc28;
}

.container .card .contentBx .size .yellow1:hover {
    background: #9bdc28;
}

.container .card .contentBx .yellow1.active {
    background: #9bdc28;
}

.container .card .contentBx .yellow2:hover {
    background: #9bdc28;
}

/*      pink      */

.container .pink::before {
    background: #d83f87;
}

.container .card .contentBx .size .pink1:hover {
    background: #d83f87;
}

.container .card .contentBx .pink1.active {
    background: #d83f87;
}

.container .card .contentBx .pink2:hover {
    background: #d83f87;
}

/*     green     */

.container .green::before {
    background: #17b978;
}

.container .card .contentBx .size .green1:hover {
    background: #17b978;
}

.container .card .contentBx .green1.active {
    background: #17b978;
}

.container .card .contentBx .green2:hover {
    background: #17b978;
}

/* .container .card .contentBx .color span {
    width: 20px;
    height: 20px;
    background: #ff0;
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
}

.container .card .contentBx .color span:nth-child(2) {
    background: #9bdc28;
}
.container .card .contentBx .color span:nth-child(3) {
    background: #03a9f4;
}
.container .card .contentBx .color span:nth-child(4) {
    background: #e91e63;
} */
