.header {
    width: 100%;
    height: 20vh;
    display: flex;
    flex-direction: row;
    background-color: #fafafa;
    background: rgba(0, 0, 0, 0);
    justify-content: space-between;

    top: 0;
    z-index: 1000;
}

.header .header__title {
    padding-top: 10px;
    padding-left: 60px;
    color: #17b978;
    font-size: 9vh;
}

.header .header__links a {
    padding: 1.54vh;
    padding-top: 3.09vh;
    color: #393e46;
    text-decoration: none;
    font-weight: 700;
    font-size: 2.06vh;
    margin-right: 2.06vh;
    border-radius: 0 0 0.619vh 0.619vh;
}

.header__links {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 40%;
}

.header .header__links a:nth-child(1) {
    border-bottom: 7px solid #9bdc28;
    color: #9bdc28;
}
.header .header__links a:nth-child(2) {
    border-bottom: 7px solid #08b2e3;
    color: #08b2e3;
}
.header .header__links a:nth-child(3) {
    border-bottom: 7px solid #17b978;
    color: #17b978;
}
.header .header__links a:nth-child(4) {
    border-bottom: 7px solid #d72323;
    color: #d72323;
}

.header .header__links a:hover {
    margin-bottom: 0.825vh;
    transition: 0.5s;
}
